<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body id="wunderlist-base">
    <div class="main-interface">
        <div id="lists">
            <div tabindex="0" class="lists-inner">
                <div id="search-toolbar">

                </div>
                <div id="user-toolbar">

                </div>
                <div class="lists-scroll">

                </div>
                <div class="sidebarActions">

                </div>
            </div>
        </div>
        <div id="tasks">
            <div id="list-toolbar">
                <h1 class="title">Todo list title</h1>
                <div class="action-bar">
                    <a class="tab-item">First</a>
                    <a class="tab-item">Second</a>
                    <a class="tab-item">3d</a>
                </div>
            </div>

            <div id="task-items">
            </div>
        </div>
    </div>
</body>
</html>